.header {
  background: #fff;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);

  .container {
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 1170px) {
      padding-right: 10px;
    }
  }

  .inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    position: relative;
    z-index: 10;
  }

  .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-inline-size: 240px;
    width: 100%;
    padding: 21px 0 21px 21px;
    background: #f1f1f1;
    z-index: 100;

    @media (max-width: 1170px) {
      position: fixed;
      right: 0;
      bottom: 0;
    }

    @media (max-width: 920px) {
      padding: 10px 0 10px 10px;

      p {
        font-size: 1.4em;

        &::after {
          right: -30px;
        }
      }
    }

    @media (max-width: 440px) {
      justify-content: center;
      max-inline-size: none;
      gap: 60px;

      p {
        display: flex;
        align-items: center;
        max-inline-size: none;

        &::after {
          height: 18px;
          width: 1px;
          right: 0;
        }
      }

      .phone {
        padding: 0;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    p {
      max-inline-size: 106px;
      position: relative;
      padding-right: 11px;

      text-align: right;
      font-size: 1.8em;
      color: #747474;
      line-height: 1.2;

      &::after {
        content: '';
        width: 18px;
        height: 1px;
        position: absolute;
        top: 50%;
        right: -24px;

        background: #000;
        transform: translateY(-50%);
      }
    }
  }

  .phone {
    padding: 12px 50px 12px 15px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    background: #9f0707;

    img,
    svg {
      animation-name: shaking;
      animation-iteration-count: infinite;
      transform-origin: 50% 10%;
      animation-play-state: paused;
      animation-delay: -0.05s;
      animation-duration: 0.27s;
    }

    &:hover {

      img,
      svg {
        animation-play-state: running;
      }
    }
  }
}

@keyframes shaking {
  0% {
    transform: rotate(-4deg);
    animation-timing-function: ease-in;
  }

  50% {
    transform: rotate(4.5deg);
    animation-timing-function: ease-out;
  }
}