// Fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700&display=swap');

// Socials

$facebook: #3b5998;
$telegram: #0088cc;
$twitter: #55adee;
$linkedin: #2867b2;
$instagram: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
$dribble: #ea4c89;
$whatsup: #25d366;

// Colors

$gray: #747474;

.page {
    overflow-x: hidden;
    font-family: 'Source Code Pro', monospace;

    font-size: 10px;
    min-height: 100vh;
}
