.outer {
  position: relative;
  margin-top: 60px;
}

.photo {
  position: absolute;
  top: -88px;
  right: 0;
  z-index: -1;

  @media (max-width: 1560px) {
    img {
      max-inline-size: 920px;
    }
  }

  @media (max-width: 1326px) {
    img {
      max-inline-size: 820px;
    }
  }

  @media (max-width: 1048px) {
    img {
      opacity: 0.2;
    }
  }
}

.script {
  position: absolute;
  top: 120px;
  right: 660px;
}

.span {
  position: absolute;
  top: 60px;
  right: 80px;
}

.mirosh {
  position: absolute;
  top: 0;
  left: -90px;
  z-index: -1;

  @media (max-width: 1780px) {
    left: -180px;
  }

  @media (max-width: 1600px) {
    img {
      max-width: 800px;
    }
  }

  @media (max-width: 1560px) {
    left: -200px;

    img {
      max-width: 720px;
    }
  }

  @media (max-width: 1300px) {
    left: -320px;
  }

  @media (max-width: 1100px) {
    left: -360px;
  }

  @media (max-width: 1048px) {
    left: -200px;
    opacity: 0.3;
  }
}

.elips {
  position: absolute;
  top: 402px;
  right: 0px;
  z-index: -1;

  @media (max-width: 764px) {
    top: 442px;
  }

  @media (max-width: 440px) {
    display: none;
  }
}

.elipsSmall {
  position: absolute;
  top: 320px;
  right: 160px;
  z-index: -1;

  @media (max-width: 1200px) {
    display: none;
  }
}

.text {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-block-start: 200px;

  @media (max-width: 1560px) {
    padding-inline-start: 40px;
  }

  @media screen and (max-width: 620px) {
    padding-inline-start: 0px;
  }

  & .inner {
    max-inline-size: 690px;

    @media (max-width: 1560px) {
      padding-inline-start: 20px;
    }
  }


  p {
    color: #747474;
    font-size: 18px;
    font-style: normal;
    line-height: 145.7%;
  }

  .list {
    margin-bottom: 24px;

    @media screen and (max-width: 560px) {
      td {
        display: block;
      }
    }

    tr {
      padding-bottom: 24px;
      margin-bottom: 24px;
      font-size: 22px;
      color: #747474;
    }

    td:not(tr:first-child) {
      padding-top: 24px;
    }


    td:nth-child(2) {
      padding-left: 20px;

      color: #FFC700;

      @media screen and (max-width: 960px) {
        font-weight: 700;
        color: #747474;
      }
    }
  }
}

.dots {
  position: absolute;
  right: 80px;
  bottom: -220px;

  @media screen and (max-width: 1300px) {
    display: none;
  }
}